In [26]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib as plt

In [27]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [28]:
# Remember that it is generically "postgresql+psycopg2://username:password@host_name:port/project4_db"
# Check the server properties to find any missing information.
engine = create_engine("postgresql+psycopg2://andrew:andrew123!@130.211.211.130:5432/project4_db")

# Reflect an existing database into a new model
Base = automap_base()

# Reflect the tables
Base.prepare(autoload_with=engine)

# View all of the classes that automap found
print(Base.classes.keys())

# Save references to each table
Ratings = Base.classes.ratings
Movies = Base.classes.movies
Tags = Base.classes.tags
Users = Base.classes.users

# Create our session (link) from Python to the DB
session = Session(engine)

['users', 'tags', 'ratings', 'movies']

In [29]:
# View column names
ratings_cols = Ratings.__table__.columns.keys()
movies_cols = Movies.__table__.columns.keys()
tags_cols = Tags.__table__.columns.keys()
users_cols = Users.__table__.columns.keys()

print(ratings_cols)
print(movies_cols)
print(tags_cols)
print(users_cols)

['userid', 'movieid', 'rating', 'timestamp']
['movieid', 'title', 'released_year', 'genre_1', 'genre_2', 'genre_3', 'genre_4', 'genre_5', 'genre_6', 'genre_7', 'genre_8', 'genre_9', 'genre_10']
['userid', 'movieid', 'tag', 'timestamp']
['userid', 'user_name']

In [31]:
# Query data
data = session.query(Movies.genre_1, Movies.genre_2, Movies.genre_3, Movies.genre_4, Movies.genre_5, \
                     Movies.genre_6, Movies.genre_7, Movies.genre_8, Movies.genre_9, Movies.genre_10).all()

session.close()

# Store data
genres = []
for genre_1, genre_2, genre_3, genre_4, genre_5, genre_6, genre_7, genre_8, genre_9, genre_10 in data:
    genres.append(genre_1)
    genres.append(genre_2)
    genres.append(genre_3)
    genres.append(genre_4)
    genres.append(genre_5)
    genres.append(genre_6)
    genres.append(genre_7)
    genres.append(genre_8)
    genres.append(genre_9)
    genres.append(genre_10)

# Remove none-types from list and count
genres_clean = [x for x in genres if x != None]
print(len(genres_clean))
print(np.unique(genres_clean, return_counts=True))

# Value counts for each genre
genres_df = pd.DataFrame(genres, columns=["Genre"])
genres_df = genres_df.value_counts()
genres_df

22050
(array(['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western'], dtype='<U11'), array([1828, 1263,  611,  664, 3756, 1199,  440, 4361,  779,   87,  978,
        158,  334,  573, 1596,  980, 1894,  382,  167], dtype=int64))

Genre
Drama          4361
Comedy         3756
Thriller       1894
Action         1828
Romance        1596
Adventure      1263
Crime          1199
Sci-Fi          980
Horror          978
Fantasy         779
Children        664
Animation       611
Mystery         573
Documentary     440
War             382
Musical         334
Western         167
IMAX            158
Film-Noir        87
Name: count, dtype: int64

In [ ]:
# Graph data